{% extends 'base.html' %}


{% block content %}

{% load static %}


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success border-0 bg-success alert-dismissible fade show py-2">
<div class="d-flex align-items-center">
<div class="font-35 text-white"><i class="bx bxs-check-circle"></i>
</div>
<div class="ms-3">
<h6 class="mb-0 text-white">Success Alerts</h6>
<div class="text-white">{{message}}</div>
</div>
</div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> 
{% endif %}

{% if message.tags == 'error' %}

<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2">
<div class="d-flex align-items-center">
<div class="font-35 text-white"><i class="bx bxs-message-square-x"></i>
</div>
<div class="ms-3">
<h6 class="mb-0 text-white">Alerts</h6>
<div class="text-white">{{message}}</div>
</div>
</div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% endfor %}
{% endif %}


<div class="d-flex">

<div class="ms-auto">
<div class="col">
<!-- Button trigger modal --> 
<a type="button" class="btn btn-primary"  href="{% url 'list_bill' %}">List Bills</a>
<!-- Modal -->
</div>
</div>
</div>
<hr />
<form action="#" method="POST"  enctype="multipart/form-data">

{% csrf_token %}

<div class="card p-5">
<div class="row g-3">
<div class="col-md-4">
<label class="form-label">Select Department</label>
<select class="form-select"  name="dept_id" required onchange="getstudents(this.value,'department','')"> 
<option value=""> Select Department</option>
{% if department_data %}
{% for department_val in department_data %}
<option value="{{ department_val.id }}" {% if order_data.students.department.dept_name == department_val.dept_name %} selected {% endif %}>{{ department_val.dept_name }}</option>
{% endfor %}
{% endif %}
</select>
</div>


<div class="col-md-4">
<label class="form-label">Select Student</label>
<select class="form-select"  name="student_id" required id="output">
<option value=""> Select Student</option>
</select>
</div>
</div>
</div>


<div class="bg-green my-4 rounded py-0"><h4 class="text-white text-center">Bill Details</h4></div>


<div class="card p-5">

<div class="row g-3">
<div class="col-md-3">
<label class="form-label"><b> Select Product </b></label>
</div>
<div class="col-md-1">
<label class="form-label"><b> Qty </b></label>
</div>
<div class="col-md-2">
<label class="form-label"><b> Rate </b></label>
</div>
<div class="col-md-2">
<label class="form-label"><b> GST </b></label>
</div>
<div class="col-md-2 text-center">
<label class="form-label"><b> Total </b></label>
</div>
<div class="col-md-2">
<label class="form-label"><b> Action </b></label>
</div>
</div>

<hr>

<div id="frm_scents">

{% if order_product_data %}

{% for orderdata_val  in order_product_data %}

<div class="row g-3 pt-0 mt-0 my-2" id="p_scents">
<div class="col-md-3">
<select class="form-select"  name="product_id[]" id="product_id{{forloop.counter}}" required onchange="getproduct(this.value,'{{forloop.counter}}')"> 
<option value=""> Select Product</option>
{% if product_data %}
{% for product_val in product_data %}
<option value="{{ product_val.id }}" {% if orderdata_val.products.id == product_val.id %} selected {% endif %}>{{ product_val.productname }}</option>
{% endfor %}
{% endif %}
</select>
</div>
<div class="col-md-1">
<input type="text" id="qty{{forloop.counter}}" name="qty[]" onchange="getrate(this.value,'{{forloop.counter}}')" class="form-control"
value="{{orderdata_val.qty}}"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Qty" required>
</div>
<div class="col-md-2">
<input type="text" id="price{{forloop.counter}}" name="price[]" onchange="getrate(this.value,'{{forloop.counter}}')"  class="form-control"
value="{{orderdata_val.price}}"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Rate" required>
</div>
<div class="col-md-2">
<select class="form-select"  name="gst[]" onchange="getrate(this.value,'{{forloop.counter}}')"  id="gst{{forloop.counter}}" required> 
<option value=""> Select GST</option>
<option value="0" {% if orderdata_val.gst_per == 0 %} selected {% endif %}>0%</option>
<option value="5" {% if orderdata_val.gst_per == 5 %} selected {% endif %}>5%</option>
<option value="12" {% if orderdata_val.gst_per == 12 %} selected {% endif %}>12%</option>
<option value="18" {% if orderdata_val.gst_per == 18 %} selected {% endif %}>18%</option>
</select>
</div>
<div class="col-md-2 text-center">
<label class="form-label"><b> <span id="total{{forloop.counter}}"> Rs. {{orderdata_val.net_amount}} </span></b></label>
<input type="hidden" name="total[]" id="totalval{{forloop.counter}}" value="{{orderdata_val.net_amount}}">
</div>
<div class="col-md-2">
<label class="form-label">

    {% if forloop.counter == 1 %}
     <a href="javascript:void(0);" id="addScnt"> <img src="{% static 'images/plus.png' %}" width="30px"> </a>
    {% else %}
<a href="javascript:void(0);" onclick="removeCont(this);"> <img src="{% static 'images/minus.png' %}" width="30px"> </a>

    {% endif %}
    </label>
</div>
</div>



{% endfor %}
{% else %}
<div class="row g-3 pt-0 mt-0 my-2" id="p_scents">
<div class="col-md-3">
<select class="form-select"  name="product_id[]" id="product_id1" required onchange="getproduct(this.value,1)"> 
<option value=""> Select Product</option>
{% if product_data %}
{% for product_val in product_data %}
<option value="{{ product_val.id }}" {% if product_data.product.id == product_val.id %} selected {% endif %}>{{ product_val.productname }}</option>
{% endfor %}
{% endif %}
</select>
</div>
<div class="col-md-1">
<input type="text" id="qty1" name="qty[]" onchange="getrate(this.value,1)" class="form-control"
value=""  oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Qty" required>
</div>
<div class="col-md-2">
<input type="text" id="price1" name="price[]" onchange="getrate(this.value,1)"  class="form-control"
value=""  oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Rate" required>
</div>
<div class="col-md-2">
<select class="form-select"  name="gst[]" onchange="getrate(this.value,1)"  id="gst1" required> 
<option value=""> Select GST</option>
<option value="0">0%</option>
<option value="5">5%</option>
<option value="12">12%</option>
<option value="18" selected>18%</option>
</select>
</div>
<div class="col-md-2 text-center">
<label class="form-label"><b> <span id="total1"> Rs. 0.00 </span></b></label>
<input type="hidden" name="total[]" id="totalval1">
</div>
<div class="col-md-2">
<label class="form-label"> <a href="javascript:void(0);" id="addScnt"> <img src="{% static 'images/plus.png' %}" width="30px"> </a> </label>
</div>
</div>

{% endif %}
</div>



<div class="col-6 mt-4 mb-3">
<input type="submit" name="Submit" class="btn btn-primary px-5"
value="{% if order_data %} Update {% else %}  Add {% endif %}">
</div>
</div>



</form>









<script src="{% static 'js/jquery.js' %}"></script>

<script>


window.onload = function(){
    getstudents({{order_data.students.department.id}},'department',{{order_data.id}});
}
var scntDiv = $("#frm_scents");
var i = $("[id=p_scents]").length + 1;

$(function() {
$("#addScnt").click(function() {
$(`<div class="row g-3 pt-0 mt-0 my-2" id="p_scents">
<div class="col-md-3">
<select class="form-select"  name="product_id[]" id="product_id${i}" required onchange="getproduct(this.value,${i})"> 
<option value=""> Select Product</option>
{% if product_data %}
{% for product_val in product_data %}
<option value="{{ product_val.id }}" {% if product_data.product.id == product_val.id %} selected {% endif %}>{{ product_val.productname }}</option>
{% endfor %}
{% endif %}
</select>
</div>
<div class="col-md-1">
<input type="text" id="qty${i}" name="qty[]" onchange="getrate(this.value,${i})" class="form-control"
value=""  oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Qty" required>
</div>
<div class="col-md-2">
<input type="text" id="price${i}" name="price[]" onchange="getrate(this.value,${i})"  class="form-control"
value=""  oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="Rate" required>
</div>
<div class="col-md-2">
<select class="form-select"  name="gst[]" onchange="getrate(this.value,${i})"  id="gst${i}" required> 
<option value=""> Select GST</option>
<option value="0">0%</option>
<option value="5">5%</option>
<option value="12">12%</option>
<option value="18" selected>18%</option>
</select>
</div>
<div class="col-md-2 text-center">
<label class="form-label"><b> <span id="total${i}"> Rs. 0.00 </span></b></label>
<input type="hidden" name="total[]" id="totalval${i}">
</div>
<div class="col-md-2">
<label class="form-label"> <a href="javascript:void(0);" onclick="removeCont(this);"> <img src="{% static 'images/minus.png' %}" width="30px"> </a> </label>
</div>
</div>`).appendTo(scntDiv);
i++;
return false;
});
});
function removeCont(_this) {
if (i > 1) {
$(_this).parent().parent().parent().remove();
}}
</script>  


<script>


function getstudents(val,type,order_Id){
$.ajax({
url: "{% url 'ajax_get_students' %}",
type: "POST",
data: {
'dept_id': val ? val : 0,
'type':type,
'order_id':order_Id,
'csrfmiddlewaretoken': '{{ csrf_token }}'
},
success: function(data) {
$('#output').html(data);
}
});
}






function getproduct(product_id,row){
if( product_id =='' ){
$("#price"+row).val("");
$("#total"+row).text("Rs. 0.00");
$("#totalval"+row).val("0");
}else{
$.ajax({
url: "/get-product-price/",
type: "GET",
data: {product_id: product_id},
success: function(data){
$("#price"+row).val(data);
getrate(data,row);
}
});
}
}
function getrate(val,row_id){
total=0;
qty=$("#qty"+row_id).val();
price=$("#price"+row_id).val();
gst=$("#gst"+row_id).val();
total=(parseFloat(qty)*parseFloat(price)) + ((parseFloat(qty)*parseFloat(price))*parseFloat(gst)/100);
if(isNaN(total)){
total=0;
}else{
total=total;
}
$("#total"+row_id).text("Rs. "+total.toFixed(2));
$("#totalval"+row_id).val(total);
}


</script>






{% endblock content %}