{% extends 'base.html' %}


{% block content %}


{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success border-0 bg-success alert-dismissible fade show py-2">
<div class="d-flex align-items-center">
<div class="font-35 text-white"><i class="bx bxs-check-circle"></i>
</div>
<div class="ms-3">
<h6 class="mb-0 text-white">Success Alerts</h6>
<div class="text-white">{{message}}</div>
</div>
</div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> 
{% endif %}

{% if message.tags == 'error' %}

<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2">
<div class="d-flex align-items-center">
<div class="font-35 text-white"><i class="bx bxs-message-square-x"></i>
</div>
<div class="ms-3">
<h6 class="mb-0 text-white">Alerts</h6>
<div class="text-white">{{message}}</div>
</div>
</div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% endfor %}
{% endif %}

<div class="card p-5">

<form action="#" method="POST" class="row g-3" enctype="multipart/form-data">
{% csrf_token %}



<div class="col-md-6">
<label class="form-label">Old Password</label>

<input type="text" name="old_password" class="form-control" placeholder="Old Password" required>

</div>

<div class="col-md-6"></div>

<div class="col-md-6">
<label class="form-label">New Password</label>

<input type="text" name="new_password" class="form-control" placeholder="New Password" required>

</div>


<div class="col-md-6"></div>

<div class="col-md-6">
<label class="form-label">Confirm Password</label>

<input type="text" name="confirm_password" class="form-control" placeholder="Confirm Password" required>

</div>


<div class="col-md-12 pt-3">
<input type="submit" name="Submit" class="btn btn-primary px-5"
value="Update Password">
</div>

</form>

</div>








{% endblock content %}