<html>
<head>
<style>

body{
font-family: Arial;
}

table{
border-collapse: collapse;
width:100%;
}

th,td{
border:1px solid black;
padding:6px;
text-align:center;
}

th{
background:#eeeeee;
}

</style>
</head>

<body>

<h2>Department Sales Report</h2>

<table>

<tr>
<th>SNo</th>
<th>Department</th>
<th>Total Students</th>
<th>Total Sales</th>
</tr>

{% for d in department_data %}

<tr>
<td>{{forloop.counter}}</td>
<td>{{d.dept_name}}</td>
<td>{{d.total_students}}</td>
<td>{{d.dept_sales}}</td>
</tr>

{% endfor %}

</table>

</body>
</html>