{% extends 'base.html' %}


{% block content %}


<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

    <div class="col">
        <div class="card radius-10 bg-success Order">
            <div class="card-body"><a href="{% url 'list_student'  %}">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0 text-white">Total Students</h6>
                            <h4 class="my-1 text-white">{{ total_students }}</h4>

                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>


     <div class="col">
        <div class="card radius-10  Packed">
            <div class="card-body"><a href="{% url 'department'  %}">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0 text-white">Total Departments</h6>
                            <h4 class="my-1 text-white">{{ total_department }}</h4>

                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>


    
     <div class="col">
        <div class="card radius-10  Shipped">
            <div class="card-body"><a href="{% url 'product'  %}">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0 text-white">Total Products</h6>
                            <h4 class="my-1 text-white">{{ total_products }}</h4>

                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>


     
     <div class="col">
        <div class="card radius-10  Delivered">
            <div class="card-body"><a href="{% url 'list_bill'  %}">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0 text-white">Total Bills</h6>
                            <h4 class="my-1 text-white">{{ total_orders }} | Rs. {{ total_amt.net_amt__sum }}</h4>

                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>

</div>



{% endblock content %}