{% extends 'base.html' %}


{% block content %}


<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">

    <div class="col">
        <div class="card radius-10 bg-success Order">
            <div class="card-body"><a href="#">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0 text-white">Total Students</h6>
                            <h4 class="my-1 text-white">-- </h4>

                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>


</div>



{% endblock content %}